<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method = "POST" enctype = "multipart/form-data">
    <input class = "" style = "width:300px; margin:10 5 5 0" type = "text" name = "batsman" placeholder = "Name">
    <input class = "" style = "width:300px; margin:10 5 5 0" type = "text" name = "runs" placeholder = "Runs">
    <button class = "" type = "submit" href = "/">Submit</button>
    
  </form>
</body>
</html>